<!-- MORBIDEZZA -->
<ion-item>
  <ion-label>Morbidezza</ion-label>
</ion-item>
<ion-item>
  <ion-select label="Zuccheri" label-placement="fixed" placeholder="Zuccheri">
    <ion-select-option value="secco">Secco</ion-select-option>
    <ion-select-option value="abboccato">Abboccato</ion-select-option>
    <ion-select-option value="amabile">Amabile</ion-select-option>
    <ion-select-option value="dolce">Dolce</ion-select-option>
    <ion-select-option value="stucchevole">Stucchevole</ion-select-option>
  </ion-select>
</ion-item>
<ion-item>
  <ion-select label="Alcoli" label-placement="fixed" placeholder="Alcoli">
    <ion-select-option value="leggero">Leggero</ion-select-option>
    <ion-select-option value="poco caldo">Poco caldo</ion-select-option>
    <ion-select-option value="abbastanza caldo">Abbastanza caldo</ion-select-option>
    <ion-select-option value="caldo">Caldo</ion-select-option>
    <ion-select-option value="alcolico">Alcolico</ion-select-option>
  </ion-select>
</ion-item>
<ion-item>
  <ion-select label="Polialcoli" label-placement="fixed" placeholder="Polialcoli">
    <ion-select-option value="spigoloso">Spigoloso</ion-select-option>
    <ion-select-option value="poco morbido">Poco morbido</ion-select-option>
    <ion-select-option value="abbastanza morbido">Abbastanza morbido</ion-select-option>
    <ion-select-option value="morbido">Morbido</ion-select-option>
    <ion-select-option value="pastoso">Pastoso</ion-select-option>
  </ion-select>
</ion-item>
<!-- DUREZZA -->
<ion-item>
  <ion-label>Durezza</ion-label>
</ion-item>
<ion-item>
  <ion-select label="Acidi" label-placement="fixed" placeholder="Acidi">
    <ion-select-option value="piatto">Piatto</ion-select-option>
    <ion-select-option value="poco fresco">Poco fresco</ion-select-option>
    <ion-select-option value="abbastanza fresco">Abbastanza fresco</ion-select-option>
    <ion-select-option value="fresco">Fresco</ion-select-option>
    <ion-select-option value="acidulo">Acidulo</ion-select-option>
  </ion-select>
</ion-item>
<ion-item>
  <ion-select label="Tannini" label-placement="fixed" placeholder="Tannini">
    <ion-select-option value="molle">Molle</ion-select-option>
    <ion-select-option value="poco tannico">Poco tannico</ion-select-option>
    <ion-select-option value="abbastanza tannico">Abbastanza tannico</ion-select-option>
    <ion-select-option value="tannico">Tannico</ion-select-option>
    <ion-select-option value="astringente">Astringente</ion-select-option>
  </ion-select>
</ion-item>
<ion-item>
  <ion-label>Sostanze minerali</ion-label>
  <ion-select placeholder="Sostanze minerali">
    <ion-select-option value="scipito">Scipito</ion-select-option>
    <ion-select-option value="poco sapido">Poco sapido</ion-select-option>
    <ion-select-option value="abbastanza sapido">Abbastanza sapido</ion-select-option>
    <ion-select-option value="sapido">Sapido</ion-select-option>
    <ion-select-option value="salato">Salato</ion-select-option>
  </ion-select>
</ion-item>
<ion-item>
  <ion-label>Struttura o corpo</ion-label>
  <ion-select placeholder="Struttura o corpo">
    <ion-select-option value="magro">Magro</ion-select-option>
    <ion-select-option value="debole">Debole</ion-select-option>
    <ion-select-option value="di corpo">Di corpo</ion-select-option>
    <ion-select-option value="robusto">Robusto</ion-select-option>
    <ion-select-option value="pesante">Pesante</ion-select-option>
  </ion-select>
</ion-item>
<ion-item>
  <ion-select label="Equilibrio" label-placement="fixed" placeholder="Equilibrio">
    <ion-select-option value="poco equilibrato">Poco equilibrato</ion-select-option>
    <ion-select-option value="abbastanza equilibrato">Abbastanza equilibrato</ion-select-option>
    <ion-select-option value="equilibrato">Equilibrato</ion-select-option>
  </ion-select>
</ion-item>
<ion-item>
  <ion-select label="Intensità" label-placement="fixed" placeholder="Intensità">
    <ion-select-option value="carente">Carente</ion-select-option>
    <ion-select-option value="poco intenso">Poco intenso</ion-select-option>
    <ion-select-option value="abbastanza intenso">Abbastanza intenso</ion-select-option>
    <ion-select-option value="intenso">Intenso</ion-select-option>
    <ion-select-option value="molto intenso">Abbastanza intenso</ion-select-option>
  </ion-select>
</ion-item>
<ion-item>
  <ion-select label="Persistenza" label-placement="fixed" placeholder="Persistenza">
    <ion-select-option value="corto">Corto</ion-select-option>
    <ion-select-option value="poco persistente">Poco persistente</ion-select-option>
    <ion-select-option value="abbastanza persistente">Abbastanza persistente</ion-select-option>
    <ion-select-option value="persistente">Persistente</ion-select-option>
    <ion-select-option value="molto persistente">Abbastanza persistente</ion-select-option>
  </ion-select>
</ion-item>
<ion-item>
  <ion-select label="Qualità" label-placement="fixed" placeholder="Qualità">
    <ion-select-option value="comune">Comune</ion-select-option>
    <ion-select-option value="poco fine">Poco fine</ion-select-option>
    <ion-select-option value="abbastanza fine">Abbastanza fine</ion-select-option>
    <ion-select-option value="fine">Fine</ion-select-option>
    <ion-select-option value="eccellente">Eccellente</ion-select-option>
  </ion-select>
</ion-item>
<ion-item>
  <ion-textarea label="Osservazioni" labelPlacement="floating"></ion-textarea>
</ion-item>