<ion-item>
  <ion-select formControlName="limpidezza" label="Limpidezza" label-placement="fixed" placeholder="Limpidezza">
    <ion-select-option value="velato">Velato</ion-select-option>
    <ion-select-option value="abbastanza limpido">Abbastanza limpido</ion-select-option>
    <ion-select-option value="limpido">Limpido</ion-select-option>
    <ion-select-option value="cristallino">Cristallino</ion-select-option>
    <ion-select-option value="brillante">Brillante</ion-select-option>
  </ion-select>
</ion-item>
<ion-item>
  <ion-select formControlName="colore" class="color-select" label="Colore" label-placement="fixed" placeholder="Colore">
    <!-- GIALLO -->
    <ion-select-option disabled>Giallo</ion-select-option>
    <ion-select-option value="giallo verdolino">Giallo verdolino</ion-select-option>
    <ion-select-option value="giallo paglierino">Giallo paglierino</ion-select-option>
    <ion-select-option value="giallo dorato">Giallo dorato</ion-select-option>
    <ion-select-option value="giallo ambrato">Giallo ambrato</ion-select-option>
    <!-- ROSA -->
    <ion-select-option disabled>Rosa</ion-select-option>
    <ion-select-option value="rosa tenue">Rosa tenue</ion-select-option>
    <ion-select-option value="rosa cerasuolo">Rosa cerasuolo</ion-select-option>
    <ion-select-option value="rosa chiaretto">Rosa chiaretto</ion-select-option>
    <!-- ROSSO -->
    <ion-select-option disabled>Rosso</ion-select-option>
    <ion-select-option value="rosso porpora">Rosso porpora</ion-select-option>
    <ion-select-option value="rosso rubino">Rosso rubino</ion-select-option>
    <ion-select-option value="rosso granato">Rosso granato</ion-select-option>
    <ion-select-option value="rosso aranciato">Rosso aranciato</ion-select-option>
  </ion-select>
</ion-item>
<ion-item>
  <ion-select formControlName="consistenza" label="Consistenza" label-placement="fixed" placeholder="Consistenza">
    <ion-select-option value="fluido">Fluido</ion-select-option>
    <ion-select-option value="poco consistente">Poco consistente</ion-select-option>
    <ion-select-option value="consistente">Consistente</ion-select-option>
    <ion-select-option value="viscoso">Viscoso</ion-select-option>
  </ion-select>
</ion-item>
<ion-item>
  <ion-label>Effervescenza</ion-label>
</ion-item>
<ion-item>
  <ion-label>Grana bollicine</ion-label>
  <ion-select formControlName="granaB" placeholder="Grana bollicine">
    <ion-select-option value="grossolane">Grossolane</ion-select-option>
    <ion-select-option value="abbastanza fini">Abbastanza fini</ion-select-option>
    <ion-select-option value="fini">Fini</ion-select-option>
  </ion-select>
</ion-item>
<ion-item>
  <ion-label>Numero bollicine</ion-label>
  <ion-select formControlName="numB" placeholder="Numero bollicine">
    <ion-select-option value="scarse">Scarse</ion-select-option>
    <ion-select-option value="abbastanza numerose">Abbastanza numerose</ion-select-option>
    <ion-select-option value="numerose">Numerose</ion-select-option>
  </ion-select>
</ion-item>
<ion-item>
  <ion-label>Persistenza bollicine</ion-label>
  <ion-select formControlName="persistB" placeholder="Persistenza bollicine">
    <ion-select-option value="evanescenti">Evanescenti</ion-select-option>
    <ion-select-option value="abbastanza persistenti">Abbastanza persistenti</ion-select-option>
    <ion-select-option value="persistenti">Persistenti</ion-select-option>
  </ion-select>
</ion-item>
<ion-item>
  <ion-textarea formControlName="osservazioni" label="Osservazioni" labelPlacement="floating"></ion-textarea>
</ion-item>