<ion-content>
  <div id="container">
    <h1>Valuta Vino</h1>
    <div class="card-container">
      <ion-card (click)="goToCellar()">
        <img alt="immagine cantina" src="https://ionicframework.com/docs/img/demos/card-media.png" />
        <ion-card-header>
          <ion-card-title>La mia cantina</ion-card-title>
        </ion-card-header>
      </ion-card>
    </div>
    <div class="card-container">
      <ion-card (click)="goToNewWine()">
        <img alt="immagine bottiglie" src="https://ionicframework.com/docs/img/demos/card-media.png" />
        <ion-card-header>
          <ion-card-title>Nuova valutazione</ion-card-title>
        </ion-card-header>
      </ion-card>
    </div>
  </div>
</ion-content>
