<ion-item>
  <ion-select formControlName="intensita" label="Intensità" label-placement="fixed" placeholder="Intensità" (ionChange)="setIntensitaValue($event)">
    <ion-select-option value="carente">Carente</ion-select-option>
    <ion-select-option value="poco intenso">Poco intenso</ion-select-option>
    <ion-select-option value="abbastanza intenso">Abbastanza intenso</ion-select-option>
    <ion-select-option value="intenso">Intenso</ion-select-option>
    <ion-select-option value="molto intenso">Abbastanza intenso</ion-select-option>
  </ion-select>
</ion-item>
<ion-item>
  <ion-select formControlName="complessita" label="Complessità" label-placement="fixed" placeholder="Complessità" (ionChange)="setComplessitaValue($event)">
    <ion-select-option value="carente">Carente</ion-select-option>
    <ion-select-option value="poco complesso">Poco complesso</ion-select-option>
    <ion-select-option value="abbastanza complesso">Abbastanza complesso</ion-select-option>
    <ion-select-option value="complesso">Complesso</ion-select-option>
    <ion-select-option value="ampio">Ampio</ion-select-option>
  </ion-select>
</ion-item>
<ion-item>
  <ion-select formControlName="qualita" label="Qualità" label-placement="fixed" placeholder="Qualità" (ionChange)="setQualitaValue($event)">
    <ion-select-option value="comune">Comune</ion-select-option>
    <ion-select-option value="poco fine">Poco fine</ion-select-option>
    <ion-select-option value="abbastanza fine">Abbastanza fine</ion-select-option>
    <ion-select-option value="fine">Fine</ion-select-option>
    <ion-select-option value="eccellente">Eccellente</ion-select-option>
  </ion-select>
</ion-item>
<ion-item>
  <ion-select formControlName="descrizione" label="Descrizione" label-placement="fixed" placeholder="Descrizione" [multiple]="true" (ionChange)="setDescrizioneValue($event)">
    <ion-select-option value="aromatico">Aromatico</ion-select-option>
    <ion-select-option value="vinoso">Vinoso</ion-select-option>
    <ion-select-option value="floreale">Floreale</ion-select-option>
    <ion-select-option value="fruttato">Fruttato</ion-select-option>
    <ion-select-option value="fragrante">Fragrante</ion-select-option>
    <ion-select-option value="erbaceo">Erbaceo</ion-select-option>
    <ion-select-option value="minerale">Minerale</ion-select-option>
    <ion-select-option value="speziato">Speziato</ion-select-option>
    <ion-select-option value="etereo">Etereo</ion-select-option>
    <ion-select-option value="tostato">Tostato</ion-select-option>
  </ion-select>
</ion-item>
<ion-item>
  <ion-textarea formControlName="osservazioni" label="Osservazioni" labelPlacement="floating" (ionChange)="setOsservazioniValue($event)"></ion-textarea>
</ion-item>